{{> header}}

<div data-role="collapsible-set" data-inset="false">

<div data-role="collapsible">
<h3>Lucas and Wood Counties</h3>
<a href="forecast-discussion.html">link</a>
<br />
{{{cleveland}}}</small>
</div>

<div data-role="collapsible">
<h3>Fulton and Henry Counties</h3>
<a href="nind-forecast-discussion.html">link</a>
<br />
{{{indiana}}}</small>
</div>

<div data-role="collapsible">
<h3>Monroe and Lenawee Counties</h3>
<a href="det-forecast-discussion.html">link</a>
<br />
{{{detroit}}}</small>
</div>

<p>
The three regional National Weather Service offices that cover the Toledo area include Cleveland, Detroit/Pontiac, and Northern Indiana.
</p>

</div>

{{> footer}}
