
Toledo Express Airport (KTOL)
{{#express_loop}}
{{{updatedate}}}
Weather : {{{weather}}}  
Temperature : {{{temperature}}} F  
Humidity : {{{humidity}}}%  
Wind Speed : {{{winddirection}}} {{{windspeed}}} {{{windspeedunits}}} 
{{#windspeedgustexists}}Wind Gust {{{windspeedgust}}} {{{windspeedgustunits}}}
{{/windspeedgustexists}}
Barometer : {{{pressure}}} in  
Dewpoint: {{{dewpoint}}} F  
Visibility : {{{visibility}}} statute miles  
{{#heatindexexists}}
Heat Index : {{{heatindex}}} F  
{{/heatindexexists}}
{{#windchillexists}}
Wind Chill : {{{windchill}}} F  
{{/windchillexists}}
{{/express_loop}}

Toledo Executive Airport (KTDZ)
{{#executive_loop}}
{{{updatedate}}}
Weather : {{{weather}}}  
Temperature : {{{temperature}}} F  
Humidity : {{{humidity}}}%  
Wind Speed : {{{winddirection}}} {{{windspeed}}} {{{windspeedunits}}} 
{{#windspeedgustexists}}
Wind Gust {{{windspeedgust}}} {{{windspeedgustunits}}}
{{/windspeedgustexists}}
Barometer : {{{pressure}}} in  
Dewpoint: {{{dewpoint}}} F  
Visibility : {{{visibility}}} statute miles  
{{#heatindexexists}}
Heat Index : {{{heatindex}}} F  
{{/heatindexexists}}
{{#windchillexists}}
Wind Chill : {{{windchill}}} F  
{{/windchillexists}}
{{/executive_loop}}

Toledo Suburban Airport (KDUH)
{{#suburban_loop}}
{{{updatedate}}}
Weather : {{{weather}}}  
Temperature : {{{temperature}}} F  
Humidity : {{{humidity}}}%  
Wind Speed : {{{winddirection}}} {{{windspeed}}} {{{windspeedunits}}} 
{{#windspeedgustexists}}
Wind Gust {{{windspeedgust}}} {{{windspeedgustunits}}}
{{/windspeedgustexists}}
Barometer : {{{pressure}}} in  
Dewpoint: {{{dewpoint}}} F  
Visibility : {{{visibility}}} statute miles  
{{#heatindexexists}}
Heat Index : {{{heatindex}}} F  
{{/heatindexexists}}
{{#windchillexists}}
Wind Chill : {{{windchill}}} F  
{{/windchillexists}}
{{/suburban_loop}}

