{{> header}}

<div data-role="collapsible-set" data-inset="false">

<div data-role="collapsible" data-collapsed="false">
<h3>Toledo Express Airport (KTOL)</h3>
{{#express_loop}}
<small>{{{updatedate}}}</small><br />
Weather : {{{weather}}} <br />
Temperature : {{{temperature}}} F <br />
Humidity : {{{humidity}}}% <br />
Wind Speed : {{{winddirection}}} {{{windspeed}}} {{{windspeedunits}}} 
{{#windspeedgustexists}}
- Gust {{{windspeedgust}}} {{{windspeedgustunits}}}
{{/windspeedgustexists}}
<br />
Barometer : {{{pressure}}} in <br />
Dewpoint: {{{dewpoint}}} F <br />
Visibility : {{{visibility}}} statute miles <br />
{{#heatindexexists}}
Heat Index : {{{heatindex}}} F <br />
{{/heatindexexists}}
{{#windchillexists}}
Wind Chill : {{{windchill}}} F <br />
{{/windchillexists}}
{{/express_loop}}
<p>External Link : <a href="http://w1.weather.gov/data/obhistory/KTOL.html" data-rel="external" target="_blank">3-day history</a></p>
</div>


<div data-role="collapsible">
<h3>Toledo Executive Airport (KTDZ)</h3>
<small>(formerly Metcalf Airport)</small><br />
{{#executive_loop}}
<small>{{{updatedate}}}</small><br />
Weather : {{{weather}}} <br />
Temperature : {{{temperature}}} F <br />
Humidity : {{{humidity}}}% <br />
Wind Speed : {{{winddirection}}} {{{windspeed}}} {{{windspeedunits}}} 
{{#windspeedgustexists}}
- Gust {{{windspeedgust}}} {{{windspeedgustunits}}}
{{/windspeedgustexists}}
<br />
Barometer : {{{pressure}}} in <br />
Dewpoint: {{{dewpoint}}} F <br />
Visibility : {{{visibility}}} statute miles <br />
{{#heatindexexists}}
Heat Index : {{{heatindex}}} F <br />
{{/heatindexexists}}
{{#windchillexists}}
Wind Chill : {{{windchill}}} F <br />
{{/windchillexists}}
{{/executive_loop}}
</div>




<div data-role="collapsible">
<h3>Toledo Suburban Airport (KDUH)</h3>
<small>(near Lambertville)</small><br />
{{#suburban_loop}}
<small>{{{updatedate}}}</small><br />
Weather : {{{weather}}} <br />
Temperature : {{{temperature}}} F <br />
Humidity : {{{humidity}}}% <br />
Wind Speed : {{{winddirection}}} {{{windspeed}}} {{{windspeedunits}}} 
{{#windspeedgustexists}}
- Gust {{{windspeedgust}}} {{{windspeedgustunits}}}
{{/windspeedgustexists}}
<br />
Barometer : {{{pressure}}} in <br />
Dewpoint: {{{dewpoint}}} F <br />
Visibility : {{{visibility}}} statute miles <br />
{{#heatindexexists}}
Heat Index : {{{heatindex}}} F <br />
{{/heatindexexists}}
{{#windchillexists}}
Wind Chill : {{{windchill}}} F <br />
{{/windchillexists}}
{{/suburban_loop}}
</div>

</div>

{{> footer}}
