{{> header}}
<strong>Toledo Area Forecast Summaries</strong>
<br />  
<small>(using <a href="https://darksky.net/forecast/{{{toledo_latitude}}},{{{toledo_longitude}}}">Dark Sky</a> JSON <a href="https://darksky.net/dev">data</a>)</small>

<p>
{{{currently_date_time}}}<br />
</p>



<div data-role="collapsible-set" data-inset="false">

<div data-role="collapsible">

<h3>Now: <small>{{{currently_summary}}} {{{currently_temperature}}} F.
 {{#use_apparent_temperature}}
   Feels like {{{currently_apparent_temperature}}}.
 {{/use_apparent_temperature}}
 {{{currently_winds}}}</small></h3>
<p>
Date and Time: {{{currently_date_time}}}<br />
Summary: {{{currently_summary}}}<br />
Air Temp: {{{currently_temperature}}} F<br />
Dew Point: {{{currently_dewpoint}}} F<br />
Humidity: {{{currently_humidity}}} %<br />
Wind Direction: {{{currently_wind_direction_fullname}}}<br />
Wind Speed: {{{currently_wind_speed}}} mph<br /> 
Wind Gust: {{{currently_wind_gust}}} mph<br />
Apparent Air Temp: {{{currently_apparent_temperature}}} F<br />
Pressure: {{{currently_pressure}}} inches<br />
UV Index: <span style="background:#222; color: {{{currently_uvindex_color}}}">{{{currently_uvindex_rating}}}</span> : {{{currently_uvindex}}}<br />
Cloud Cover: {{{currently_cloud_cover}}} % : {{{currently_cloud_cover_description}}}<br />
Precip Probability: {{{currently_precip_probability}}} %<br />
Precip Intensity: {{{currently_precip_intensity}}} : <span style="color: {{{currently_precip_color}}}">{{{currently_precip_description}}}</span><br />
Precip Type: {{{currently_precip_type}}}<br />
Visibility: {{{currently_visibility}}} miles<br />
Nearest Precip Distance: {{{currently_nearest_precip_distance}}}<br />
Nearest Precip Bearing: {{{currently_nearest_precip_bearing}}}
</p>
</div>
</div>



<p>
<strong>Next 24 Hours:</strong> {{{hourly_summary}}}
</p>



<div data-role="collapsible-set" data-inset="false">

<div data-role="collapsible">
{{#no_alerts}}
<h3>No alerts exist.</h3>
{{/no_alerts}}
{{#have_alerts}}
<h3 class="wx-alert">Alert(s) exist.</h3>
{{#alerts_loop}}
<p>
<strong>{{{title}}}</strong><br />
{{{description}}}<br />
<strong>Start:</strong> {{{startTime}}}<br />
<strong>End:</strong> {{{endTime}}}<br />
<a href="{{{url}}}">More info</a>
</p>
{{/alerts_loop}}
{{/have_alerts}}
</div>


<div data-role="collapsible">
<h3>Next 7 Days: <small>{{{daily_summary}}}</small></h3>
<p>{{{daily_summary}}}</p>
{{#daily_loop}}
<p>
 <strong>{{{date}}}</strong> - 
 {{{summary}}}
 Cloud cover: {{{cloudCoverDesc}}}.
 Precip type: {{{precipType}}}.
 Snow accumulation: {{{snowAccumulation}}} inches.
 Low temp {{{lowTemp}}} at 
 {{{lowTempTime}}}.
 High temp {{{highTemp}}} at
 {{{highTempTime}}}.
 Wind: {{{windDirection}}} at {{{windSpeed}}} mph.
 Sunrise: {{{sunriseTime}}}.
 Sunset: {{{sunsetTime}}}.
</p>
{{/daily_loop}}
</div>


<p>
<strong>Minute by Minute Forecasts</strong>
</p>
<div data-role="collapsible">
<h3>Sylvania: <small>{{{sylvania_minutely_summary}}}</small></h3>
<div style="font-size:90%; font-weight:bold;">
<p>
<strong>Next Hour:</strong> {{{sylvania_minutely_summary}}}
</p>
{{#sylvania_minutely_loop}}
<strong>{{{time}}}</strong>
<span style="color: {{{precipColor}}}">
{{#precipChance}}
 {{{precipProbability}}} % chance of 
 {{{precipIntensity}}}
 {{{precipType}}}
</span>
{{/precipChance}}
{{#noPrecipChance}}
<span style="color: #888888;">
 {{{precipProbability}}} % chance of precip
</span>
{{/noPrecipChance}}
<br />
{{/sylvania_minutely_loop}}
</div>
</div>


<div data-role="collapsible">
<h3>Central Toledo: <small>{{{toledo_minutely_summary}}}</small></h3>
<div style="font-size:90%; font-weight:bold;">
<p>
<strong>Next Hour:</strong> {{{toledo_minutely_summary}}}
</p>
{{#toledo_minutely_loop}}
<strong>{{{time}}}</strong>
<span style="color: {{{precipColor}}}">
{{#precipChance}}
 {{{precipProbability}}} % chance of 
 {{{precipIntensity}}}
 {{{precipType}}}
</span>
{{/precipChance}}
{{#noPrecipChance}}
<span style="color: #888888;">
 {{{precipProbability}}} % chance of precip
</span>
{{/noPrecipChance}}
<br />
{{/toledo_minutely_loop}}
</div>
</div>

</div>


<div style="margin-top: 40px; background: #ccFFFF;">
<p>
Info displayed below comes from using the iframe tag to <a href="https://forecast.io/embed/#lat=41.665556&lon=-83.575278&name=Toledo">embed</a> a Dark Sky widget.
</p>
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://forecast.io/embed/#lat={{{toledo_latitude}}}&lon={{{toledo_longitude}}}&name=Toledo"> </iframe>
</div>

{{> footer}}
