</div> <!-- close wx-content -->
</div> <!-- close data-role=content -->
  
<div id="footer" data-role="footer" data-theme="f">
<center><small>page created: {{pagecreateddate}}</small></center>
</div>

</div> <!-- close scroll_text -->

</div>

<script type="text/javascript"> 
if (typeof timer == 'undefined')  {
// setInterval uses milliseconds. 60000 = 1 min. 
// using 10 minutes
  var timer = setInterval("autoRefresh()", 1000 * 60 * 10);
  function autoRefresh(){self.location.reload(true);}
}
</script>


</body>
</html>

