{{> header}}

<p><strong><ins>National Weather Service</ins></strong></p>
<ul>
<li><a  class="extlink" href="http://www.spc.noaa.gov/">Storm Prediction Center</a></li>
<li><a  class="extlink" href="http://www.weather.gov/cle/">Cleveland NWS</a></li>
<li><a  class="extlink" href="https://twitter.com/NWSCLE">Cle NWS Twitter feed</a></li>
<li><a  class="extlink" href="https://w2.weather.gov/climate/index.php?wfo=cle">Almanac</a></li>
<li><a  class="extlink" href="http://www.weather.gov/iwx">N. IN NWS</a></li>
<li><a  class="extlink" href="http://www.weather.gov/dtx/">Detroit/Pontiac NWS</a></li>
<li><a  class="extlink" href="https://alerts.weather.gov/cap/wwaatmget.php?x=OHC095&y=1">Lucas (OHC095) Ohio Watches, Warnings or Advisories</a></li> 
<li><a  class="extlink" href="http://forecast.weather.gov/MapClick.php?lat=41.5924053&amp;lon=-83.80837989999998&amp;site=all&amp;smap=1&amp;searchresult=Toledo%20Express%20Airport%2C%20Swanton%2C%20OH%2043558%2C%20USA%23.Ub-a_OdwqSo">Toledo Express Airport</a></li>
<li><a  class="extlink" href="https://forecast.weather.gov/obslocal.php?warnzone=OHZ003&local_place=2%20Miles%20S%20Toledo%20Express%20Airport%20OH&zoneid=EST&offset=18000">Area Weather</a></li>
<li><a  class="extlink" href="http://forecast.weather.gov/MapClick.php?lat=41.556996&lon=-83.62715700000001&site=all&smap=1&searchresult=Perrysburg%2C%20OH%2C%20USA#.Ub-duedwqSo">Toledo Executive Airport</a></li>
<li><a  class="extlink" href="http://forecast.weather.gov/MapClick.php?lat=41.7359&lon=-83.6533">Toledo Suburban Airport</a></li>
<li><a  class="extlink" href="http://www.weather.gov/view/validProds.php?prod=LSR&amp;node=KCLE">Local Storm Report</a></li>
<li><a  class="extlink" href="http://radar.weather.gov/radar.php?rid=cle&product=NTP&overlay=11101111&loop=no">Radar Esstimated Rainfall Amounts</a></li>
<li><a  class="extlink" href="http://www.cpc.ncep.noaa.gov/products/predictions/610day/">6 to 10 Day Precip and Temp Outlooks</a></li>
<li><a  class="extlink" href="http://www.cpc.ncep.noaa.gov/products/predictions/814day/">8 to 14 Day Precip and Temp Outlooks</a></li>
<li><a  class="extlink" href="http://www.wpc.ncep.noaa.gov/qpf/excess_rain.shtml">Excessive Rain Forecasts</a></li>
<li><a  class="extlink" href="http://www.wpc.ncep.noaa.gov/qpf/qpf2.shtml">Quantitative Precipitation Forecasts</a></li>
<li><a  class="extlink" href="http://www.wpc.ncep.noaa.gov/html/sfc2.shtml">North American Surface Analysis</a></li>
</ul>
   
<p><strong><ins>Wunderground</ins></strong></p>
<ul>
<li><a  class="extlink" href="https://www.wunderground.com/weather/us/oh/toledo-express">Toledo Express Airport</a></li>
<li><a  class="extlink" href="http://www.wunderground.com/severe.asp?region=mw&amp;setprefs.0.key=SVRMAP&amp;setprefs.0.val=mw%23gotoMap">Midwest Severe Weather Map</a></li>
</ul>

<p><strong><ins>Dark Sky</ins></strong></p>
<ul>
<li><a  class="extlink" href="https://darksky.net/forecast/41.6787,-83.5127/us12/en">darksky.net</a></li>
<li><a  class="extlink" href="https://blog.darksky.net">blog.darksky.net</a></li>
<li><a  class="extlink" href="https://darksky.net/dev">darksky.net/dev</a></li>
<li><a  class="extlink" href="https://darksky.net/app">Dark Sky App</a></li>
</ul>

<p><strong><ins>Winter Weather</ins></strong></p>
<ul>
<li><a  class="extlink" href="http://tinyurl.com/ps6vxjp">Cle NWS Forecast Snowfall</a></li>
<li><a  class="extlink" href="http://tinyurl.com/GFS-Total-Snowfall">Global Forecast System Total Snowfall Model</a></li>
<li><a  class="extlink" href="http://www.wpc.ncep.noaa.gov/wwd/winter_wx.shtml">Weather Prediction Center Winter Weather Forecasts</a></li>
</ul>

<p><strong><ins>Etc.</ins></strong></p>
<ul>
<li><a  class="extlink" href="http://www.weather.gov/cle/Top10TOL">Toledo's Top 10 Weather Records by Month and Year</a></li>
<li><a  class="extlink" href="http://forecast.weather.gov/glossary.php">Glossary of NWS Terms</a></li>
<li><a  class="extlink" href="http://hint.fm/wind/">Wind Flow Map</a></li>
</ul>


{{> footer}}
