{{> header}}

<div data-role="collapsible-set" data-inset="false">

<div data-role="collapsible" data-collapsed="false">
<h3>Day 1 Outlook</h3>
<p>
<div style="float:right">
<a href="{{{wxhome}}}/day1otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 1 Outlook Text</a>
</div>
<img src="{{{imagehome}}}/{{{day1gif}}}">
</p>
</div>

<!-- day 1 prob -->

<div data-role="collapsible">
<h3>Day 1 Prob Tornado</h3>
<p>
<img src="{{{imagehome}}}/{{{day1tornadogif}}}">
</p>
</div>

<div data-role="collapsible">
<h3>Day 1 Prob Wind</h3>
<p>
<img src="{{{imagehome}}}/{{{day1windgif}}}">
</p>
</div>

<div data-role="collapsible">
<h3>Day 1 Prob Hail</h3>
<p>
<img src="{{{imagehome}}}/{{{day1hailgif}}}">
</p>
</div>

<!-- end day one outlook -->

<div data-role="collapsible">
<h3>Day 2 Outlook</h3>
<p>
<div style="float:right">
<a href="{{{wxhome}}}/day2otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 2 Outlook Text</a>
</div>
<img src="{{{imagehome}}}/{{{day2gif}}}">
</p>
</div>

<div data-role="collapsible">
<h3>Day 3 Outlook</h3>
<p>
<div style="float:right">
<a href="{{{wxhome}}}/day3otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 3 Outlook Text</a>
</div>
<img src="{{{imagehome}}}/{{{day3gif}}}">
</p>
</div>

<div data-role="collapsible">
<h3>Day 4-8 Outlook</h3>
<p>
<div style="float:right">
<a href="{{{wxhome}}}/day48otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 4-8 Outlook Text</a>
</div>
<img src="{{{imagehome}}}/day48prob.gif">
</p>
</div>

</div>

{{> footer}}
