{{> header}} 

    <ul data-role="listview" data-inset="false" data-divider-theme="b">
    {{#lc_alerts_loop}}
      <li data-icon="alert"><a href="{{{wxhome}}}/{{{url}}}"><span class="wx-alert">{{{alert}}}</span> <span class="wx-minor-text">{{{alerttime}}}</span></a></li> 
    {{/#lc_alerts_loop}}
    {{#mesoscale_loop}}
      <li data-icon="alert"><a href="{{{wxhome}}}/mesoscale{{{mdnum}}}.html"><span class="wx-alert">Mesoscale Discussion</span> <span class="wx-minor-text"> #{{{mdnum}}} {{{mdtime}}}</span></a></li> 
    {{/mesoscale_loop}} 
    {{#buttonalerts_loop}}
      <li data-icon="alert"><a href="{{{wxhome}}}/{{{url}}}"><span class="wx-alert">{{{alert}}}</span> <span class="wx-minor-text">{{{alerttime}}}</span></a></li> 
    {{/buttonalerts_loop}}
      <li><a href="{{{wxhome}}}/current-conditions.html">{{{conditions_weather}}}: {{{conditions_temperature}}} <span class="wx-minor-text">{{{conditions_time}}}</span></a></li>
      <li><a href="{{{wxhome}}}/radar.html">Radar</a></li>
      <li><a href="{{{wxhome}}}/more-radars-and-maps.html">More Radars & Maps</a></li>
      <li><a href="{{{wxhome}}}/forecast.html">7-day Forecast <span class="wx-minor-text">{{{forecast_time}}}</span></a></li>
      <li><a href="{{{wxhome}}}/hourly-forecast.html">Hourly Forecast</a></li> 
      <li><a href="{{{wxhome}}}/darksky.html"><span class="wx-darksky">Dark Sky Info</span></a></li>
      <li><a href="{{{wxhome}}}/area-forecast-discussions.html">Forecast Discussions <span class="wx-minor-text">{{{discussion_time}}}</span></a></li>
      <li><a href="{{{wxhome}}}/convective-outlook.html">Convective Outlook</a></li>
      <li><a href="{{{wxhome}}}/lake-forecast.html">Lake Forecast <span class="wx-minor-text">{{{marine_time}}}</span></a></li>
    {{#no_important_hazardous_outlook_exists}}
      <li><a href="{{{wxhome}}}/hazardous-weather-outlook.html"><span>No Hazardous Weather</span> <span class="wx-minor-text">{{{hazardous_outlook_time}}}</span></a></li> 
    {{/no_important_hazardous_outlook_exists}}
      <li><a href="{{{wxhome}}}/briefing.html">Flash Briefing</a></li>
      <li><a href="{{{wxhome}}}/external-links.html">External Links</a></li>
<!--      <li><a href="{{{wxhome}}}/errors.html"><span class="wx-minor-text">error log</span></a></li> -->
    </ul>

{{> footer}}
